/* Estilos para la página 404 */
.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    text-align: center;
    color: #333;
  }
  
  .not-found-title {
    font-size: 8rem;
    margin: 0;
    color: #ff6b6b;
  }
  
  .not-found-message {
    font-size: 1.5rem;
    margin: 20px 0;
  }
  
  .not-found-link {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .not-found-link:hover {
    background-color: #0056b3;
  }