
/* Estilo general para la barra de navegación */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1e293b;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para el logo y marca */
  .brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
  }
  
  .brand img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
  }
  
  .brand p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  /* Lista de categorías */
  .categories {
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0;
    padding: 0;
  }
  
  /* Estilo para los enlaces de las categorías */
  .category {
    color: #cbd5e1; /* Gris claro */
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
  }
  
  .category:hover {
    color: #ffffff; /* Blanco al pasar el ratón */
    background-color: #374151; /* Fondo más oscuro */
  }
  
  .category-active {
    color: black; 
    background-color:  #cbd5e1; /* Gris claro */
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 5px 10px;
    border-radius: 4px;
  }
  .divCart {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
  }
  .cartwidget {
    font-size: 3rem;
  }
  .divCart p {
    color: #ffffff;
    padding: 4px 8px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
